html{
    background: url("./resources/images/backgroundimage.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
}
body, html {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Roboto" , sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

header{
    top:0;
    position:fixed;
    width:100%;
    height:100vh;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin:0;
    overflow: none;
}

@keyframes fade {
    0%{opacity: 1;}
    100%{opacity:0;}
}
.banner{ /*Splash Page Formatting */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:70vh;
    width:100%;
    color: white;
    margin:0;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.183);
}

.splash_container{ /*Profile Formatting */
    display:flex;
}
.name img{
    border:white 8px solid;
    border-radius: 50%;
    height:400px;
    width:400px;
}

.name{
    border-right:white 8px solid;
    padding:40px;
}

.title{
    margin-left:16px;
    font-size:36px;
}

.social img{ /*Social Media Formatting*/
    height:70px;
    margin: 0 10px;
    width:auto;
    border-radius: 50%;
}

.social img:hover{
    background-color: white;
}

.vote{
    margin-top:80px;
}

.banner button{
    padding: 20px 40px;
    border-radius: 12px;
    font-family:"Roboto" , sans-serif;
    font-size: 20px;
    display:none;
}


/*Content Button*/

.dropdown-button{
    display:flex;
    height:fit-content;
    width:80%;
    background-color:rgba(104, 0, 201, 0.59);
    color:white;
}

.dropdown-button:hover{
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.255);
}

.dropdown-button h2{
    margin-left:12px;
}

.dropdown-content{
    overflow:hidden;
    background-color: rgba(255, 255, 255, 0.617);
    display:block;
    height:0px;     
    max-height:400px;
    transition: height 1s;
    width:80%;
}

.dropdown-content article{
    width:90%;
    font-size:24px;
}


/* Main Content */

.content{
    position: relative;
    display:flex;
    height:100vh;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.183);
}


.summary p{
    margin: 24px;
    font-size: 24px;
}